@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
  font-family: "PT Sans", sans-serif;
  transition: all ease-in-out 0.3;
}

#mainDiv{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #4285F4, #34A853);
  padding-bottom: 20px;
}
#submitBtn{
  background: linear-gradient(135deg, #4285F4, #34A853);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  &:hover{
    background: linear-gradient(135deg, #34A853, #4285F4);
      box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  }
  &:active{
    transform: scale(0.95);
  }
}
#addBtn{
 
  background: linear-gradient(135deg, #6a11cb, #2575fc); /* New gradient */
  color: white; /* Text color */
  cursor: pointer;
  transition: all 0.3s; /* Smooth transition for effects */
  text-transform: uppercase; /* Uppercase text */

  &:hover{
    background: linear-gradient(135deg, #2575fc, #6a11cb); /* Reverse gradient on hover */
    transform: translateY(-2px); /* Slight lift effect on hover */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  &:focus {
    outline: none;
  }

}

